<!doctype html>
<html lang="vi-VN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="vua rau g4, Vựa Rau G4 - Hóc Môn">
    <meta name="copyright" content="Vua Rau G4 [vuaraug4@gmail.com]">
    <title>
        <% if content_for?(:title) %>
            <%= yield(:title) %> | Vựa rau củ quả uy tín tại TP.HCM
        <% else %>
            Vựa Rau G4 | Chợ Hóc Môn | Thành phố Hồ Chí Minh
        <% end %>
    </title>
    <% if @meta_description.present? %>
    <meta name="description" content="<%= @meta_description %>">
    <% else %>
    <meta name="description" content="Vựa Rau G4 - Nông sản sạch, an toàn, uy tín, giá sỉ">
    <% end %>
    <% if @meta_keywords.present? %>
    <meta name="keywords" content="<%= @meta_keywords %>">
    <% else %>
    <meta name="keywords" content="vựa rau g4, vựa rau sài gòn, rau sạch giá sỉ, cung ứng rau củ quả, chợ đầu mối, hóc môn, vua rau sai gon, rau sach gia si, cung cap rau sach, cho dau moi hoc mon, nông sản giá sỉ">
    <% end %>
    
    <meta property="og:image:width" content="1000" />
	<meta property="og:image:height" content="660" />
    
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-151725287-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/frontend/assets/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/frontend/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/frontend/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/frontend/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/frontend/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/frontend/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/frontend/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/frontend/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/frontend/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/frontend/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/frontend/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/frontend/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/frontend/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/frontend/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/frontend/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/frontend/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/frontend/assets/css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/frontend/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/frontend/assets/css/vendor/plaza-font.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/frontend/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="/frontend/assets/css/plugins/swiper.min.css">
    <link rel="stylesheet" href="/frontend/assets/css/plugins/animation.css">
    <link rel="stylesheet" href="/frontend/assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/frontend/assets/css/plugins/fancy-box.css">
    <link rel="stylesheet" href="/frontend/assets/css/plugins/jqueryui.min.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/frontend/assets/css/style.css">
    <link rel="stylesheet" href="/frontend/assets/css/custom.css">

</head>

<body>
    <% @web_info = Erp::Contacts::Contact.get_main_contact %>
    <div class="main-wrapper">
        
        <%= render "layouts/erp/frontend/modules/header", web_info: @web_info %>
        
        <%= yield %>
        
        <%= render "layouts/erp/frontend/modules/footer", web_info: @web_info %>
        
    </div>
    
    <%= render "layouts/erp/frontend/modules/main_script" %>
    
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=436021563647671&autoLogAppEvents=1"></script>

</body>

</html>