<% title 'Về chúng tôi' %>

<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="<%= erp_vuaraug4.root_path %>"><i class="icon fa fa-home"></i></a></li>
                    <li class="breadcrumb-item active">Về chúng tôi</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->


<!-- main-content-wrap start -->
<div class="main-content-wrap">
    <div class="about-us-wlc section-pt section-pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-us-wrapper">
                        <% if @about.present? %>
                        <div class="title text-center mb-30">
                            <h2><%= @about.name %></h2>
                        </div>
                        <% if false %>
                        <div class="about-shop-image">
                            <img src="/frontend/assets/images/other/about-us-banner1.jpg" alt="">
                            <a href="<%= @about.image %>" data-fancybox="images">
                                <%= image_tag(article_image(@about.image, 'large'), alt: @about.name) %>
                            </a>
                        </div>
                        <% end %>
                        <div class="about-welcome-text section-pt text-center">
                            <%= @about.content.html_safe %>
                        </div>
                        <% else %>
                            Bài viết đang được cập nhật
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-content-wrap end -->