<header class="header">

    <!-- haeader bottom Start -->
    <div class="haeader-bottom-area bg-gren header-sticky">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="logo-area">
                        <a href="<%= erp_vuaraug4.root_path %>"><img src="/frontend/assets/images/logo/logo-v2.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="main-menu-area white_text text-center">
                        <!--  Start Mainmenu Nav-->
                        <nav class="main-navigation">
                            <ul>
                                <li class="<%= 'active' if params[:controller] == "erp/vuaraug4/frontend/home" %>">
                                    <a href="<%= erp_vuaraug4.root_path %>">Trang chủ</a>
                                </li>
                                <li class="<%= 'active' if params[:controller] == "erp/vuaraug4/frontend/about_us" %>">
                                    <a href="<%= erp_vuaraug4.about_us_path %>">Về chúng tôi</a>
                                </li>
                                <li class="<%= 'active' if params[:controller] == "erp/vuaraug4/frontend/product" %>">
                                    <a href="<%= erp_vuaraug4.all_product_path %>">Sản phẩm <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <% @menus = Erp::Menus::Menu.get_active.where(parent_id: nil) %>
                                        <% @menus.each do |sp| %>
                                        <%
                                            @link = menu_link(sp)
                                        %>
                                        <li><a href="<%= @link %>"><%= sp.name %></a></li>
                                        <% end %>
                                    </ul>
                                </li>
                                <li class="<%= 'active' if params[:controller] == "erp/vuaraug4/frontend/contact_us" %>">
                                    <a href="<%= erp_vuaraug4.contact_us_path %>">Liên hệ</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-5 col-md-6 d-block d-lg-none">
                    <div class="logo"><a href="<%= erp_vuaraug4.root_path %>"><img src="/frontend/assets/images/logo/logo-v2.png" alt=""></a></div>
                </div>

                <div class="col-lg-3 col-md-6 col-7">
                    <div class="right-blok-box text-white d-flex">                        
                        <div class="contact-info customer-wrap green-bg d-none d-lg-block">
                            <div class="single-costomer-box">
                                <div class="telephone">
                                    <i class="icon-phone"></i> <span>Hotline: 097.202.81.99</span>
                                </div>
                            </div>
                        </div>

                        <div class="mobile-menu-btn d-block d-lg-none">
                            <div class="off-canvas-btn">
                                <a href="#"><img src="/frontend/assets/images/icon/bg-menu.png" alt=""></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- haeader bottom End -->


    <!-- off-canvas menu start -->
    <aside class="off-canvas-wrapper">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-inner-content">
            <div class="btn-close-off-canvas">
                <i class="icon-x"></i>
            </div>

            <div class="off-canvas-inner">
                <!-- mobile menu start -->
                <div class="mobile-navigation">
                    <!-- mobile menu navigation start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li><a href="<%= erp_vuaraug4.root_path %>">Trang chủ</a></li>
                            <li><a href="<%= erp_vuaraug4.about_us_path %>">Giới thiệu</a></li>
                            <li class="menu-item-has-children">
                                <a href="<%= erp_vuaraug4.all_product_path %>">Sản phẩm</a>
                                <ul class="dropdown">
                                    <% @menus = Erp::Menus::Menu.get_active.where(parent_id: nil) %>
                                    <% @menus.each do |sp| %>
                                    <%
                                        @link = menu_link(sp)
                                    %>
                                    <li><a href="<%= @link %>"><%= sp.name %></a></li>
                                    <% end %>
                                </ul>
                            </li>
                            <li><a href="<%= erp_vuaraug4.contact_us_path %>">Liên hệ</a></li>
                        </ul>
                    </nav>
                    <!-- mobile menu navigation end -->
                </div>
                <!-- mobile menu end -->
            </div>
        </div>
    </aside>
    <!-- off-canvas menu end -->

</header>