<!-- ==========================-->
<!-- MOBILE MENU-->
<!-- ==========================-->
<div data-off-canvas="mobile-slidebar left overlay">
    <a class="navbar-brand scroll" href="<%= erp_giafordhcm.root_path %>">
        <img class="normal-logo img-resonsive visible-xs visible-sm" src="/frontend/images/main-logo.png" alt="logo" />
        <img class="scroll-logo img-resonsive hidden-xs hidden-sm" src="/frontend/images/main-logo.png" alt="logo" />
    </a>
    <ul class="nav navbar-nav">
        <li>
            <h5><a href="">Danh mục</a></h5>
        </li>
        <li <%= 'active' if params[:controller] == "erp/giafordhcm/frontend/home" %>>
            <a href="<%= erp_giafordhcm.root_path %>">Trang chủ</a>
        </li>
        <li class="<%= 'active' if params[:controller] == "erp/giafordhcm/frontend/about_us" %>">
            <a href="<%= erp_giafordhcm.about_us_path %>">Giới thiệu</a>
        </li>
        <li class="<%= 'active' if params[:controller] == "erp/giafordhcm/frontend/product" %>">
            <a href="<%= erp_giafordhcm.all_product_path %>">Sản phẩm</a>
        </li>
        <li class="<%= 'active' if params[:controller] == "erp/giafordhcm/frontend/price" %>">
            <a href="<%= erp_giafordhcm.price_list_path %>">Bảng giá</a>
        </li>
        <li class="<%= 'active' if params[:controller] == "erp/giafordhcm/frontend/installment" %>">
            <a href="<%= erp_giafordhcm.installment_path %>">Trả góp</a>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Tin tức khuyến mãi<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Khuyến mãi</a></li>
                <li><a href="#">Lái thử</a></li>
                <li><a href="#">Trả góp</a></li>
                <li><a href="#">Mua xe cũ giá cao</a></li>
            </ul>
        </li>
        <li class="<%= 'active' if params[:controller] == "erp/giafordhcm/frontend/contact_us" %>">
            <a href="<%= erp_giafordhcm.contact_us_path %>">Liên hệ</a>
        </li>
    </ul>
</div>